!!!!!!!!!!!!!!!!!!!!!!!!!! .Xresources !!!!!!!!!!!!!!!!!!!!!!!!!!
! do not forget to run xrdb -merge ~/.Xresources after updating !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Global !!!!!!!!!!!!!!!!!!!!!!!!!!!!
#include ".cache/wal/colors.Xresources"

*faceName: DejaVu
*faceSize: 10
xterm*scrollTtyOutput:	true
xterm*cursorBlink: true

URxvt.scrollBar: false
URxvt.font: xft:DejaVu Sans Mono:pixelsize=14
URxvt.urlLauncher: qutebrowser
URxvt.perl-ext-common: default,tabbed,matcher,resize-font,-tabbed

rofi.lines: 5
rofi.auto-select: true


!xterm*background: #000000

! color0 black
! color1 red
! color2 green
! color3 yellow
! color4 dark blue
! color5 magenta
! color6 cyan
! color7 gray
! color8 gray
! color9 red
! color10 green
! color11 yellow
! color12 light blue
! color13 magenta
! color14 cyan
! color15 white
